{% extends "tictactoe_app/base.html" %}

{% block content %}
    <div class="flex text-lg p-4">
    {% if object_list is empty %}
        <p>No games yet!</p><a href={% url 'startGame' %}>Go Home</a>
    {% else %}
        <table class="table w-80">
            <tr class="font-medium bg-slate-200">
                <th class="w-16">ID</th>
                <th class="w-16">Player Turn</th>
                <th class="w-16">Winner</th>
            </tr>
            {% for game in object_list %}
            <tr>
                <td class="text-blue-600 text-right odd:bg-slate-100"><a href="{% url 'playGame' pk=game.id %}">{{game.id}}</a></td>
                <td class="text-right odd:bg-slate-100">{% if game.winner is None %}
                        Player {{game.player_turn}}
                    {% else %}
                        Game Over
                    {% endif %}</td>
                <td class="text-right odd:bg-slate-100">{% if game.winner is None %}
                        In progress
                    {% elif game.winner == 3 %}
                        Tie
                    {% else %}
                        Player {{game.winner}}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <div></div>
    </div>
    
{% endblock %}