{% extends "tictactoe_app/base.html" %}

{% block content %}
<p id="player-p">Player turn: {{ player_turn }}</p>
{% if board %}
    <ul>
    {% for square in board %}
        {% if forloop.counter0 == 3 or forloop.counter0 == 6%}
            <br>
        {% endif %}
        <button hx-post="/{{ id }}/" hx-target="this" hx-swap="innerHTML" hx-vals='"coord": "{{ forloop.counter0 }}"'>{{ square }}</button>
    {% endfor %}
    </ul>
{% else %}
    <p>Game board not found</p>
{% endif %}
{% endblock %}